{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if form.instance.pk %}
Update Student
{% else %}
Add Student
{% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'students/index.css' %}" />
{% endblock %}

{% block content %}
<div class="student-form-container">
  <h1>Student Form</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
</div>

{% endblock %}
